.calendardiv{

  width: 500px;
  height: 400px;
  margin-left: 100px;
  margin-top:20px ;
}
.add-event-btn{
  border: 0;
  margin-left: 35%;
  height: 40px;
  background: #00acee;
  color: white;
  border-radius: 10%;
  margin-bottom: 10px;
}
.th{

  padding: 10px;
}


.table{
  margin-left: 100px;
}

.td{

  margin-left: 0px;
}

input{
  border: 0;
  border: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

tr{
  margin-bottom: 5px;
}
