
<mat-toolbar style="color: #ffffff; background: #00acee">
  <h4 style="margin-left: 45%">Online Scheduler</h4>
</mat-toolbar>
<div style="display: flex">
<div class="calendardiv">
<full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="calevent" (dateClick)="filterEvents($event)" ></full-calendar>
</div>

  <div class="table">

    <table>
      <th class="th">Title</th>
      <th class="th">StartDate</th>
      <th class="th">StartTIme</th>
      <th class="th">EndDate </th>
      <th class="th">EndTime</th>
      <th class="th">delete Event</th>

      <tr *ngFor=" let ee of filteredlist" style="margin-left: 10px; background: #00acee" >
        <td class="td"><input type="text" name="title" class="input" value="{{ee.title}}" (change)="HandleEdit('title',$event.target.value,ee.id)"></td>
        <td class="td"><input type="date" class="input" value="{{ee.startDate}}" (change)="HandleEdit('startDate',$event.target.value,ee.id)"></td>
        <td class="td"><input type="time" class="input" value="{{ee.startTime}}" (change)="HandleEdit('startTime',$event.target.value,ee.id)"></td>
        <td class="td"><input type="date" class="input" value="{{ee.endDate}}" (change)="HandleEdit('endDate',$event.target.value,ee.id)"></td>
        <td class="td"><input type="time" class="input" value="{{ee.endTime}}" (change)="HandleEdit('endTime',$event.target.value,ee.id)"></td>
        <td class="td"> <button (click)="deleteEvent(ee.id)" class="add-event-btn" style="margin-top: 10px">delete</button></td>
      </tr>



    </table>

    <button (click)="showAllEvents()" class="add-event-btn" style="margin-top: 10px">Show all events</button>

  </div>




</div>

<div class="addEvent" style="margin-left: 100px;background: lightgray; margin-top: 50px; width: 30%">

  <h4 style="margin-left: 40%">Add Event</h4>

  <div>
    <label>Enter Title</label>
    <input type="text" [(ngModel)]="etitle" value="{{etitle}}">
    <br><br>
  </div>

  <div>
    <label>Start Date</label>
    <input type="date" [(ngModel)]="estartDate" value="{{estartDate}}">
    <label>Start Time</label>
    <input type="time" [(ngModel)]="estartTime" value="{{estartTime}}" style="margin-left: 20px">
    <br><br>
  </div>

  <div>
    <label>End Date</label>
    <input type="date" [(ngModel)]="eendDate" value="{{eendDate}}">
    <label>End Time</label>
    <input type="time" [(ngModel)]="eendTime" value="{{eendTime}}" style="margin-left: 20px">
    <br><br>
  </div>

  <button (click)="AddEvent()" class="add-event-btn" >Add Event</button>

</div>
